/* AUTOCOMPLETE RELATED CONTENT */

ul#autocomplete {
    position:absolute;
    margin:0;
    background-color: white;
    margin-left: 0%;
    width: 330px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    list-style: none;
    font-size: 0.9em;
    padding: 0;
    z-index: 10;
}
li.city_auto {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2%;
    color: #7e7e7e;
    cursor:pointer;
    border-radius: 10px;
    display: list-item;
}
li.city_auto:hover {
    color: #729F4B;
    background-color: #e1e1e1;
}