@font-face {
  font-family: "Newsreader";
    src: url("Newsreader-VariableFont_opsz,wght.ttf");
}

body{
    font-family: "Newsreader", sans-serif; 
    padding: 0;
    margin: 0;
  
  }
  
  #navbar:first-child {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  #navbar li {
    float: left;
  }

  #navbar  li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #navbar li a:hover {
    background-color: #ddd;
  }
  
  #navbar #prof{
    background-color: #426B1F;
    border-radius: 8px;
    color:white;
  }
  #navbar #prof:hover{
    background-color: #729F4B;
  }

  .left-side {
    float: left;
  }
  
  .right-side {
    margin-left: 600px;  
  }
  
  #accident{
    font-size: 24px;
    color:#426B1F;
  }

  .center {
    text-align: center;
    margin-top: 75px;
    font-size: 48px;
  }

  .Form{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .right{
    margin-left: 50px;
  }

  .right, .left{
    border: 1.5px dashed;
    border-color: #426B1F;
    padding: 30px;
  }

input, select {
    padding: 15px;
    margin-top: 5px;
    width: 300px;
    border-color: #426B1F;
    outline: none;
    background-color: white;

}

.submit{
    color: white;
    background-color:#426B1F;
    margin-top : 30px;
    border-radius: 8px;
}

.input-print{
    text-align: center;
}

.sous-div{
    margin-top: 15px;
}

input:focus{
    background-color: #729F4B;
    color: white ;
}

select.decorated option:hover {
    background-color: #729F4B;
}

footer{
    margin-top: 30px;
    background-color: #1E1E1E;
    text-align: center;
  }
  
  footer p {
    color: white ;
    padding: 0;
    margin: 0;
  }
  


  footer img{
    margin-top: 25px;
  }